.tooltip-container {
  position: absolute;
  background-color: #4D4D4D;
  margin-top: -288px;
  margin-left: 348px;
  padding: 12px 16px 17px 12px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 13px;
  .tooltip-item {
    display: flex;
    vertical-align: middle;
    .tooltip-status {
      height: 15px;
      width: 15px;
      margin-right: 5px;
    }
  }
}

.hidden {
  display: none;
}