.header-container {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  .logo {
    margin-right: 17px;
  }
}